/* Ensure the entire page is at least 100% of the viewport height */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;

  flex-direction: column;
}

/* Make the main content area flexible to push the footer to the bottom */
#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer Section */
footer {
  background-color: #000000;
  color: white;
  font-family: Arial, sans-serif;
  width: 100%;
  flex-shrink: 0;

 /* Prevent shrinking */
}

.footer {
  padding: auto;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: auto;
}

#footer-main-details {
  text-align: center;
  width: 100%;
}

#footer-main-details p {
  margin: auto;
  font-size: 1em;
}

/* Individual Contact Details */
#gmail,
#phone,
#location {
  margin: 25px;
  font-size: 1em;
  text-align: center;
  flex: auto;
}

#hire-me {
  color: #ff6600;
  font-size: auto;
}

#gmail i,
#phone i,
#location i {
  margin-right: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  
  #gmail{
    margin: 1%;
    font-size: 15px;
  }
  #location{
    margin: 2%;
    font-size: 15px;
  }
  #phone {
    margin: 2%;
    font-size: 15px;
  }
  #footer-main-details{
    font-size: 12px;
  }
  /* #phone {
      flex: auto;
      margin: 5px 0;
      font-size: auto;
  } */
}

@media (max-width: 480px) {
  #gmail{
    margin: 1%;
    font-size: 15px;
  }
  #location{
    margin: 2%;
    font-size: 15px;
  }
  #phone {
    margin: 2%;
    font-size: 15px;
  }
  #footer-main-details{
    font-size: 12px;
  }
}
